.hero {
  font-family: Garamond, serif;
  border-style: solid;
}
.section-inner {
  font-family: "Optima", "Helvetica", serif;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: #fada5e;
  text-decoration: underline;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
body {
  margin: 0;
  margin-top: 50px;
  font-family: "Optima", "Helvetica", serif;
}
footer {
  text-align: center;
  padding: 50px;
  font-family: "Optima", "Helvetica", serif;
}
header {
  border-color: #fada5e;
  border-bottom-style: solid;
}
